<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Platilla</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
<!-- fragment permite utilizar la etiqueta en otras paginas -->
        <header th:fragment="header">
            <h1>Control de Clientes</h1>
        </header> 
        <footer th:fragment="footer">
            <p>Derechos reservados <a href="http://www.globalmentoring.com.mx" target="_blank">Aguante Ubaldo!</a></p>
        </footer>
    </body>
</html>
