body {
  background-color: #8f1e0f;
  min-height: 1000px;
  font-family: 'helvetica neue';
  background: url(./assets/bg-pattern.png), #94211d;
  background: url(./assets/bg-pattern.png), -webkit-gradient(linear, right top, left top, from(#94211d), to(#796113));
  background: url(./assets/bg-pattern.png), linear-gradient(to left, #94211d, #796113)
}
.right{
  display: inline-flex;
}
#header{
  background:transparent;
  padding-top: 1rem;
}
#header .row{
  display: flex;
  justify-content: center;
}
#ingresos{
  background-color: #94211d;
  color: #531210;
  display: inline-flex;
  width: 100%;
  padding: 0.8rem 1rem 0.3rem 1rem;
  justify-content: space-between;
}
#egresos{
  background-color: #856a14;
  color: #3a2e09;
  display: inline-flex;
  width: 100%;
  padding: 0.8rem 1rem 0.3rem 1rem;
  justify-content: space-between;
}
#ingresosVal, #egresosVal{
  color: #fff;
  font-size: 1.2rem;
  align-self: center;
}
#ingresosLb, #egresosLb{
  float:left;
  font-size: 1.2rem;
  align-self: center;
}
#porcentajeEG{
  background-color: red;
  color: #fff;
  opacity: 40%;
  padding: 0 0.2rem 0 0.2rem;
  margin: 0 0.3rem 0.5rem 0.3rem;
  align-self: center;
}
#porcentajeIN{
  background-color: red;
  color: #fff;
  opacity: 0%;
  padding: 0 0.2rem 0 0.2rem;
  margin: 0 0.3rem 0.5rem 0.3rem;
  align-self: center;
}
form{
  display: flex;
  justify-content: space-between;
}
h1 {
  color: #fff;
  padding: 10px;
}
.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#titulo {
  color: antiquewhite;
  background-color: transparent;
  text-align: center;
}

table{
  border: darkgrey;
  opacity: 70%;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}


input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #3F51B5;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  font-size: 20px;
  font-weight: 200;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #3F51B5;
}

::placeholder {
  color: grey;
  opacity: 1;
}

.redFocus{
  border:1px solid red !important;
}
