<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Platilla</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
<!-- fragment permite utilizar la etiqueta en otras paginas -->
        <header th:fragment="header">
<!-- con th : text le indicamos que use lo de la variable y lo ponga dentro de la etiqueta h1 -->
            <h1 th:text="#{plantilla.titulo}">Control de Clientes</h1>
        </header> 
        <footer th:fragment="footer">
            <div>
                <br/>
<!-- llamamos al link indicando los idiomas -->
                <a th:href="@{/?lang=es}">ES</a>|
                <a th:href="@{/?lang=en}">EN</a>
<!-- mediante doble corchete le indicamos que lo de adentro es variable -->
                <span>[[#{plantilla.pie-pagina}]] <a href="http://www.globalmentoring.com.mx" target="_blank">[[#{plantilla.Ubaldo}]]</a></span>
<!-- logout -->
                <form method="POST" th:action="@{/logout}">
                    <b>User:</b><span sec:authentication="name">Usuario que hizo login</span>|
                    <b>Roles:</b><span sec:authentication="principal.authorities">Roles del usuario</span>|
                    <input type="submit" name="Logout" th:value="Logout"/>
                    <!-- con Js -->
                    <a href="#" onclick="this.parentNode.submit();">Logout</a>
                </form>
            </div>
        </footer>
    </body>
</html>
