<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Login</title>
        <meta charset="UTF-8"></meta>
    </head>
    <body>
        <h1>Login</h1>
<!-- Es importante usar 'username' y 'password' porque es lo que Spring security espera -->
        <form method="POST" th:action="@{/login}">
            <label for="username">Usuario:</label>
            <input type="text" name="username" id="username"/>
            <br/>
            <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password"/>
            <br/>
            <input type="submit" value="Login"/>
        </form>
    </body>
</html>
